.form{
    max-width: 600px;
    min-width: 360px;
    margin: auto;
    margin-top: 120px;
    padding: 60px;
    background-color: rgb(245,245,245);
}
h3{
    padding-bottom: 20px;
}

.new-account{
    padding-top: 20px;
}
.new-account p{
    display: inline;
}
.new-account a{
    display: inline;
}
.form small{
    display: block;
    padding-bottom: 10px;
}